<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>403351482674-vj6b6vkuhaukv3lth0v4t6k3iflbv09c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.403351482674-vj6b6vkuhaukv3lth0v4t6k3iflbv09c</string>
	<key>API_KEY</key>
	<string>AIzaSyAk7mIyBRcbKSIspNaiNloDlNNVkRz5OOw</string>
	<key>GCM_SENDER_ID</key>
	<string>403351482674</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.new.ott.OTT</string>
	<key>PROJECT_ID</key>
	<string>ott-login-2c05e</string>
	<key>STORAGE_BUCKET</key>
	<string>ott-login-2c05e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:403351482674:ios:651c4d351ada0511fd272b</string>
</dict>
</plist>